# CODECLAUSE DATASCIENCE INTERNSHIP

## Naved Akhtar

## TASK - 1

## FAKE NEWS PREDICTION

In [1]:
import pandas as pd
import numpy as np

In [2]:
gr=pd.read_csv(r'C:\Users\naved\Desktop\Internship\news.csv')

In [3]:
gr.head(3)

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL

In [4]:
gr.tail(3)

,Unnamed: 0,title,text,label
6332,8622,Anti-Trump Protesters Are Tools of the Oligarc...,Anti-Trump Protesters Are Tools of the Oligar...,FAKE
6333,4021,"In Ethiopia, Obama seeks progress on peace, se...","ADDIS ABABA, Ethiopia —President Obama convene...",REAL
6334,4330,Jeb Bush Is Suddenly Attacking Trump. Here's W...,Jeb Bush Is Suddenly Attacking Trump. Here's W...,REAL

In [5]:
gr.shape

(6335, 4)

In [6]:
gr.duplicated().sum()

0

In [7]:
gr=gr.drop_duplicates()

In [8]:
gr.isnull().sum()

Unnamed: 0    0
title         0
text          0
label         0
dtype: int64

In [9]:
gr.shape

(6335, 4)

In [10]:
# Removing data from the dataset from endside

for i in range(6334,6325,-1):
    gr.drop([i],axis=0,inplace=True)

In [11]:
gr.tail(3)

,Unnamed: 0,title,text,label
6323,4214,Bernie Sanders says private meeting with Pope ...,ROME — U.S. Democratic presidential candidate...,REAL
6324,2316,Alabama Lawmaker: Same-Sex Couples Don’t Deser...,Most conservatives who oppose marriage equalit...,REAL
6325,8411,Will the Media Reset After the Election or Are...,Written by Peter Van Buren venerable New Yor...,FAKE

In [12]:
gr=gr.drop(["Unnamed: 0","title"], axis=1)

In [13]:
gr.sample(6)

                                                   text label
1772  . FBI Wants you to Believe It Examined 650,000...  FAKE
348   Hillary Clinton has doubled down on her assert...  REAL
3155  Many older physical trainers, and even those y...  FAKE
1889  The world is about to change drastically . Wil...  FAKE
4968  Ben Shapiro Destroys John Oliver On Abortion A...  FAKE
862   Email \nLife can be tough, but students at Wil...  FAKE

# DATA VISUALIZATION

In [14]:
import matplotlib.pyplot as ptl
import seaborn as sbs
import warnings
warnings.filterwarnings('ignore')

In [15]:
#function to remove the unnecessary spaces and links
import re
import string
def remover(text):
    text=text.lower()
    text=re.sub('\[.*?\]','',text)
    text=re.sub("\\W"," ",text)
    text=re.sub('https?://\S+|www\.\S+','',text)
    text=re.sub('<.*?>+','',text)
    text=re.sub('[%s]' % re.escape(string.punctuation),'', text)
    text=re.sub('\n','',text)
    text=re.sub('\w*\d\w*','',text)
    return text

In [16]:
gr["text"] = gr["text"].apply(remover)

In [17]:
gr.head(5)

                                                text label
0  daniel greenfield  a shillman journalism fello...  FAKE
1  google pinterest digg linkedin reddit stumbleu...  FAKE
2  u s  secretary of state john f  kerry said mon...  REAL
3    kaydee king   kaydeeking  november    the le...  FAKE
4  it s primary day in new york and front runners...  REAL

In [18]:
from sklearn.preprocessing import LabelEncoder
ld=LabelEncoder()
gr['label']=ld.fit_transform(gr['label'])

In [19]:
gr.sample(5)

                                                   text  label
1480  george w  bush famously described himself as  ...      1
2880  a couple of weeks ago in this space i pushed b...      1
5130  lara trump implies fbi letter politically moti...      0
1442  by claire bernish at thefreethoughtproject com...      0
306   on friday  speaker john boehner announced that...      1

### 0 means REAL
### 1 means FAKE

In [20]:
x = gr['text']
y = gr['label']

In [21]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.15,random_state=7)

In [22]:
# data to vector conversion

from sklearn.feature_extraction.text import TfidfVectorizer

vectorization = TfidfVectorizer()
x_train= vectorization.fit_transform(x_train)
x_test = vectorization.transform(x_test)

In [23]:
from sklearn.linear_model import LogisticRegression

LR = LogisticRegression()
LR.fit(x_train,y_train)

LogisticRegression()

In [24]:
pred_lr=LR.predict(x_test)
LR.score(x_test,y_test)

0.9272918861959958

In [25]:
from sklearn.metrics import classification_report
print(classification_report(y_test,pred_lr))

              precision    recall  f1-score   support

           0       0.92      0.94      0.93       469
           1       0.94      0.92      0.93       480

    accuracy                           0.93       949
   macro avg       0.93      0.93      0.93       949
weighted avg       0.93      0.93      0.93       949

### Testing of Model

In [26]:
import pandas as pd
def res(n):
    if n==0:
        return "Fake News"
    elif n==1:
        return "Real News"

def manual_test(news):
    test_n = {"text":[news]}
    new_def_test = pd.DataFrame(test_n)
    new_def_test["text"] = new_def_test["text"].apply(remover) 
    new_x_test = new_def_test["text"]
    new_xv_test = vectorization.transform(new_x_test)
    pred_LR = LR.predict(new_xv_test)
    
    return print("\n\nPrediction: {}".format(res(pred_LR[0])))

In [28]:
news=str(input())
manual_test(news)

Share This Baylee Luciani (left), Screenshot of what Baylee caught on FaceTime (right)  The closest Baylee Luciani could get to her boyfriend, whoâ€™s attending college in Austin, was through video online chat. The couple had regular â€œdatesâ€ this way to bridge the 200-mile distance between them. However, the endearing arrangement quickly came to an end after his FaceTime was left on and caught something that left his girlfriend horrified.  Baylee had been discussing regular things with her boyfriend, Yale Gerstein, who was on the other side of the screen on an otherwise average evening. This video chat was not unlike all the others she had with Yale from his apartment near Austin Community College until the 19-year-old girlfriend heard some scratching sounds after FaceTime had been left on.  According to KRON , Baylee was mid-conversation with Yale when scratches at the door caught both of their attention and he got up from his bed, where the computer was, to see who was at his door. He barely turned the handle to open in when masked men entered the room and beat Yaleâ€™s face in and slammed him down on his bed while shoving a pistol in his cheek. The intruders didnâ€™t seem to know or care that FaceTime was still on and Bayleeâ€™s face, seen in the corner, was watching everything, terrified that she was about to see her boyfriend murdered in front of her, as she watched him fight for his life.  Admitting that she first thought it was a joke, seconds later, she came to the horrid realization that he was being robbed and called her dad, who was at home with her in Dallas, into the room. â€œI was scared, because they were saying Iâ€™m going to blow your head off, Iâ€™m going to kill you,â€ Baylee explained along with the chilling feeling she got when the intruder finally realized the video chat was running and looked right at her in the camera. â€œIâ€™m like wowâ€¦ seriously watching an armed robbery happen to somebody that I care about,â€ she added. Screengrabs of intruder forcing Yale down on his bed while Baylee and her father watch on FaceTime in horror  With a clear view of at least one intruderâ€™s face, Baylee began taking screenshots of the suspect in the act as she and her dad called the police to report what was going on. She got the pictures right in time since, seconds later, the intruder decided to disconnect the computer as he and the suspects took off with thousands of dollars worth of Yaleâ€™s music equipment. Although the boyfriendâ€™s life was spared in the traumatizing ordeal for the two of them, he said that the thieves took something from him that canâ€™t be replaced.  â€œI had just finished my first album as a solo artist,â€ Yale said. â€œThatâ€™s all lost,â€ since they took the recordings on the equipment, which means nothing to the thieves and everything to the victim. Itâ€™s not often that you hear of FaceTime solving crimes or potentially saving lives, which is what happened in this case. Although it was difficult to watch, Baylee, being there through technology, was an instrumental part in protecting Yale, who hopefully learned that he better take advantage of Texasâ€™ great gun laws and arm himself with more than just a computer.


Prediction: Fake News